<div class="containerProducts">    
    <h1>Carritos de compras: {{cart._id}}</h1>    
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>IdProd</th>
                <th>Title</th>
                <th>Category</th>                
                <th>Price</th>
                <th>Quantity</th>
                <th>SubTotal</th>
                
            </tr>
        </thead>
        <tbody>
            {{#if cart.products.length}}
                {{#each cart.products}} 
                <tr>
                    <td>{{this.product._id}}</td>
                    <td>{{this.product.title}}</td>
                    <td>{{this.product.category}}</td>
                    <td>$ {{this.product.price}}</td>
                    <td>{{this.quantity}}</td>
                    <td>$ ({{this.product.price}}*{{this.quantity}})</td>
                    
                    <td><button class="btnDeleteProductCart btn btn-danger" data-id={{this.product._id}}  onClick= >Eliminar</button></td>
                </tr>
                {{/each}}
            {{/if}}            
        </tbody>
    </table>    
</div>

<script src="/js/cart.js"></script>