<div class="containerProducts">
    <h1>Lista de Productos</h1>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th>IdProd</th>
                <th>Title</th>
                <th>Description</th>
                <th>Price</th>
                <th>Code</th>
                <th>Stock</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this._id}}</td>
                <td>{{this.title}}</td>
                <td class="tdDescription">{{this.description}}</td>
                <td>$ {{this.price}}</td>
                <td>{{this.code}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td><button class="btnAddProduct btn btn-success" data-id={{this._id}}  onClick= >Agregar al carrito</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {{#if hasPrevPage}}
                <li class="page-item"><a class="page-link" href="/products?page={{prevPage}}">Anterior</a></li>
            {{/if}}
            {{#if hasNextPage}}
                <li class="page-item"><a class="page-link" href="/products?page={{nextPage}}">Siguiente</a></li>
            {{/if}}
        </ul>
    </nav>   
    
    
    

</div>

<script src="/js/products.js"></script>


